<div class="container">
	<div class="row">
		<h3>These are the files inside the folder: </h3>
		{{#each files}}
		<div class="col-md-4">
			<p>File name: "<a href="/getFileInfo/{{id}}">{{name}}</a>"</p>
			<p>File ID: "{{id}}"</p>
			<hr>
		</div>
		{{/each}}
	</div>
	<div class="row">
		<h3>Upload a File into a Folder in BOX: </h3>
		<form action="/uploadFile">
			<h4>File name: </h4>
			<input id="fileName" type="text" value="" name="name" />
			<h4>File:</h4>
			<p>C:\Users\IBM_ADMIN\Proyectos\BOX_API-Node.JS\public\files\test1.txt</p>
			<p>C:\Users\IBM_ADMIN\Proyectos\BOX_API-Node.JS\public\files\test2.txt</p>
			<p>C:\Users\IBM_ADMIN\Proyectos\BOX_API-Node.JS\public\files\test3.txt</p>
			<input id="filePath" type="text" value="" name="path" />
			<br><br>
			<input type="submit" value="Submit" name=""/>
		</form>
	</div>
</div>