<div class="container">
	<h1>Hello {{nombre}} !</h1>
	<div class="row">
		<div class="col-md-4">
			<h2>Get Folder Items (<spam style="color:green">GET</spam>)</h2>
			<p>Get information about a folder.</p>
			<p><a class="btn btn-default" href="getFolderItems" role="button">Execute &raquo;</a></p>
		</div>
	</div>
</div>