<div class="container">
	<h1>Hello {{nombre}} !</h1>
	<div class="row">
		<div class="col-md-4">
			<h2>Get File Info (<spam style="color:green">GET</spam>)</h2>
			<p>Get information about a file.</p>
			<p><a class="btn btn-default" href="getFileInfo/163053016685" role="button">Execute &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Get Folder Items (<spam style="color:green">GET</spam>)</h2>
			<p>Get information about a folder.</p>
			<p><a class="btn btn-default" href="getFolderItems" role="button">Execute &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Upload File (<spam style="color:blue">POST</spam>)</h2>
			<p>Use the Upload API to allow users to add a new file. The user can then upload a file by specifying the destination folder for the file. If the user provides a file name that already exists in the destination folder, the user will receive an error.</p>
			<p><a class="btn btn-default" href="uploadFile" role="button">Execute &raquo;</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<!--<h2>Update File Info (<spam style="color:purple">PUT</spam>)</h2>
			<p>Update the information about a file, including renaming or moving the file.</p>
			<p><a class="btn btn-default" href="updateFileInfo" role="button">Execute &raquo;</a></p>-->
	 </div>
		<div class="col-md-4">
			<!--<h2>Update File Info (<spam style="color:purple">PUT</spam>) "Restore"</h2>
			<p>Update the information about a file, including renaming or moving the file.</p>
			<p><a class="btn btn-default" href="updateFileInfoRestore" role="button">Execute &raquo;</a></p>-->
		</div>
	</div>
</div>