<div class="container">
	<h2>Upload a File into a Folder in BOX: </h2>
	<form ction="#" onsubmit="uploadFile(this);return false">
		<h3>File name: </h3>
		<input type="text" value=""/>
		<h3>File:</h3>
		<input type="file" name="file" accept="*">
		<br><br>
		<input type="submit" value="Submit" name="">
	</form>
</div>
<script type="text/javascript">
function uploadFile(file) {
	console.log(file)
}
</script>